@viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background-color: #1f2937;
    font-family: 'Comic Neue', cursive;
    align-items: center stretch;
}

ul {
    padding: 0;
    border: 0;
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.hero {
    display: flex;
    flex-flow: column;
    color: white;
    flex: auto;
}

.header {
    display: flex;
    justify-content: space-around;
    flex: auto;
}

.left-header {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.right-header {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: auto;
    padding: 100px;
}

.greeting {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    flex: 0 1 auto;
    text-align: left;
    font-size: 18px;
    color: #e5e7eb;
    width: 200px;
    gap: 8px;
}

.greeting button {
    flex: auto;
    background-color: #3882f6;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 5px;
}

.cow {
    flex: auto;
    width: 300px;
    height: 300px;
}

.figure-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: white;
}

.gallery {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.figure-container h1 {
    align-self: center;
    color: #1f2937;
}

.gallery .my-fig {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 8px;
}

.gallery img {
    /* display: block; */
    object-fit: cover;
    border: 2px solid #3882f6;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
